.logo-containers {
    z-index: 0;
    width: 50px;
    height: 153px;
    position: absolute;
    
    right: 20%;
    bottom: 0;
    left: auto;
    margin: auto;
  
   
  
    .solid-logos {
      position: absolute;
      top: -540px;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      width: 100%;
     
      z-index: 1;
    }
  }
  
  